/* Centra el navegador de la pagiancion */
.dataTables_paginate  > .pagination{
    justify-content: center !important;
}

/* Cambiar el color de los enlaces del catalogo */
.nav-tabs .nav-link{
    color: #17a2b8;
}

.nav-tabs .nav-link.active{
    /* background-color: #17a2b8; */
    /* color: #ffffff; */
    font-weight: bold;
}

/* Los items en el footer quedan con espacios a los lados (mucho al lado izquierdo), se usa block para abarcar todo el espacio */
.modal-footer{
    display: block !important;
}

/* Tamanio del titulo de footer del modal */
#lblTituloFooter{
    font-size: larger;
}

/*Solo para tamaños de 768px o mas (momento al usar COL-SM)*/
@media (min-width: 768px){

    /* Ajusta a la derecha el campo de buscar, para que no se salga de la alineación de la tabla */
    .dataTables_filter > label{
        float: right !important;
      }
}