body{
  font-family: 'Montserrat', sans-serif;
}

.imgLogoNav{
    width: 35px;
    border-radius: 50%;
}

  .carousel-inner > .carousel-item > img {
    height:500px;
    object-fit: cover;
  }

  .navbar{
    /* opacity: 0.9; */
    background-color: rgba(0, 0, 0, 0.6) !important;
  }

  /* Para aplicar este fondo: se debe agregar al padre Position-relative*/
  .oscurecerImagen{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

/*Solo para tamaños de 767px o menos*/
@media (Max-width: 767px){

    .carousel-inner > .carousel-item > img {
        height:300px;
        object-fit: cover;
      }
}